In [19]:
import pandas as pd
import numpy as np

In [20]:
df = pd.read_excel('ocg_final_data.xlsx')
print(df)

   Number               Wind Energy Area  \
0       1                         Oregon
1       2  Northern & Central California
2       3                 Gulf of Mexico
3       4              Carolina Long Bay
4       5               Central Atlantic
5       6                       NY Bight
6       7                  Gulf of Maine
7       8                   Block Island

  Distance from shore/port (nautical miles) Average wind speed (knots)  \
0           30 nm (west of Port Orford, OR)                    7.8 kts
1           30 nm (west of Point Arena, CA)                    9.7 kts
2         247 nm (south of New Orleans, LA)                     12 kts
3        30 nm (east of Pawleys Island, SC)                    7.8 kts
4        150 nm (east of Cape Hatteras, NC)                     14 kts
5                30 nm (south of Islip, NY)                   25.3 kts
6            78 nm (east of Portsmouth, NH)                   23.3 kts
7    3.3 nm (southeast of Block Island, RI)                     22 kts

  Potential incidence with fisheries/vessels Closest major city's population  \
0                                        low               Coos Bay - 15,985
1                                     medium         San Francisco - 873,965
2                                       high           New Orleans - 383,997
3                                     medium           Myrtle Beach - 35,682
4                                     medium        Virginia Beach - 459,470
5                                       high       New York City - 8,804,190
6                                        low                Boston - 675,647
7                                       high            Block Island - 1,410

         Environmental externalities (qualitative)  \
0                   Year round gray whale activity
1         High-density area of blue whale habitats
2  Rice's whale along continental shelf year-round
3                    Right whales active Nov-April
4                    Right whales active Nov-April
5       Moderate adverse impacts to marine mammals
6           Year round protected species' habitats
7                    Right whales active Nov-April

    Potential MW generation (by state)
0                           5,500 (OR)
1                          30,000 (CA)
2                 646,000 (GOM region)
3             19,200 (SC); 37,900 (NC)
4  16,000 (VA); 2,850 (DE); 4,680 (MD)
5              4,730 (NY); 16,000 (NJ)
6                13,800 (MA); 739 (RI)
7                           30 MW (RI)

In [21]:
df = pd.read_excel('data_for_ranking.xlsx')
print(df)

   Number         WEA  Distance from shore (nm)  Average wind speed (kts)  \
0       1          OR                      30.0                       7.8
1       2      N&C CA                      30.0                       9.7
2       3       GoMex                     247.0                      12.0
3       4    Carolina                      30.0                       7.8
4       5  C Atlantic                     150.0                      14.0
5       6         NYB                      30.0                      25.3
6       7        GoME                      78.0                      23.3
7       8        BIWF                       3.3                      22.0

   Incidence with fisheries  City population  Potential MW generation
0                         1            15985                     5500
1                         2           873965                    30000
2                         3           383997                   646000
3                         2            35682                    57100
4                         2           459470                    23530
5                         3          8804190                    20730
6                         1           675647                    14539
7                         3             1410                       30

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Number                    8 non-null      int64
 1   WEA                       8 non-null      object
 2   Distance from shore (nm)  8 non-null      float64
 3   Average wind speed (kts)  8 non-null      float64
 4   Incidence with fisheries  8 non-null      int64
 5   City population           8 non-null      int64
 6   Potential MW generation   8 non-null      int64
dtypes: float64(2), int64(4), object(1)
memory usage: 576.0+ bytes

In [23]:
df.head()

,Number,WEA,Distance from shore (nm),Average wind speed (kts),Incidence with fisheries,City population,Potential MW generation
0,1,OR,30.0,7.8,1,15985,5500
1,2,N&C CA,30.0,9.7,2,873965,30000
2,3,GoMex,247.0,12.0,3,383997,646000
3,4,Carolina,30.0,7.8,2,35682,57100
4,5,C Atlantic,150.0,14.0,2,459470,23530

In [24]:
df.tail()

,Number,WEA,Distance from shore (nm),Average wind speed (kts),Incidence with fisheries,City population,Potential MW generation
3,4,Carolina,30.0,7.8,2,35682,57100
4,5,C Atlantic,150.0,14.0,2,459470,23530
5,6,NYB,30.0,25.3,3,8804190,20730
6,7,GoME,78.0,23.3,1,675647,14539
7,8,BIWF,3.3,22.0,3,1410,30

In [25]:
df = df.set_index('WEA')

In [26]:
df.rank (axis=0, method='max', numeric_only=None, na_option='keep', ascending=True, pct=False)

#df['max_rank'] = df['Incidence with fisheries'].rank(method = 'average')

,Number,Distance from shore (nm),Average wind speed (kts),Incidence with fisheries,City population,Potential MW generation
WEA,,,,,,
OR,1.0,5.0,2.0,2.0,2.0,2.0
N&C CA,2.0,5.0,3.0,5.0,7.0,6.0
GoMex,3.0,8.0,4.0,8.0,4.0,8.0
Carolina,4.0,5.0,2.0,5.0,3.0,7.0
C Atlantic,5.0,7.0,5.0,5.0,5.0,5.0
NYB,6.0,5.0,8.0,8.0,8.0,4.0
GoME,7.0,6.0,7.0,2.0,6.0,3.0
BIWF,8.0,1.0,6.0,8.0,1.0,1.0

In [16]:
#df = pd.df(data={'WEA': ['OR','N&C CA','GoMex','Carolina','C Atlantic','NYB','GoME'],
               #   'Incidence with fisheries': [1,2,3,2,2,3,1]})

In [17]:
#df['default_rank'] = df['Incidence with fisheries'].rank()